# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
pids/
*.pid
*.seed

# Coverage output
coverage/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build output
build/
dist/
out/

# Editor directories and files
.idea/
.vscode/
*.swp

# System files
.DS_Store
Thumbs.db
